[submodule "third_party/tree-sitter-c"]
	path = third_party/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "third_party/tree-sitter-cpp"]
	path = third_party/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "examples/source/libyaml"]
	path = examples/source/libyaml
	url = https://github.com/yaml/libyaml
