ailment==9.2.7
angr==9.2.7
archinfo==9.2.7
bitstring==3.1.9
cachetools==5.2.0
capstone==4.0.2
cffi==1.15.0
claripy==9.2.7
cle==9.2.7
CppHeaderParser==2.7.4
decorator==5.1.1
dpkt==1.9.7.2
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
itanium-demangler==1.0
lief==0.12.1
mpmath==1.2.1
mulpyplexer==0.9
nampa==0.1.1
networkx==2.8.4
pefile==2022.5.30
plumbum==1.7.2
ply==3.11
progressbar2==4.0.0
protobuf==4.21.2
psutil==5.9.1
pycparser==2.21
pyelftools==0.28
PySMT==0.9.6.dev11
python-utils==3.3.3
pyvex==9.2.7
rpyc==5.1.0
smmap==5.0.0
sortedcontainers==2.4.0
sympy==1.10.1
unicorn==1.0.2rc4
z3-solver==4.8.17.0
